.chapter {
  display: flex;
	gap: 17rem;
  align-items: top;

  .chapter-copy {
    max-width: 35rem;
  }
}

.intro {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;

  .btn-container {
    padding-top: 3rem;
  }

  .footnote {
    font-size: $fontsize-small;
    line-height: $lineheight-150;
    color: $color-darkgrey;
    margin-top: 3rem;
  }
}