.ast-input {
	position: relative;
  width: fit-content;
  display: block;

  select {
    height: auto;
    margin: 1px 0 0 0;
    padding: 0 36px 0 0;
    max-width: 100%;
    text-overflow: ellipsis;
    border: none;
    background: $color-white none;
    outline: none;
    font-weight: $fontweight-600;
    font-size: $fontsize-default;
    color: $color-black;
    appearance: none;
    cursor: pointer;
  }

  select + svg {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 5px;
    pointer-events: none;
  }

  input[type=text] {
    background-color: $color-white;
    border: 1px solid $color-lightgrey;
    padding: 10px 15px;
    line-height: 1;
    max-width: 140px;
    display: inline-block;
    color: $color-primary;
    font-size: $font-size-rem;
    font-weight: $fontweight-400;
  }

  input[type=range] {
    border: none;
    background: $color-white none;
    outline: none;
  }

  label {
    font-size: $fontsize-default;
    margin-left: 0.5rem;
  }
}