.page {
  display: flex;
  flex-wrap: wrap;
  max-width: 680px;

  span {
    margin-right: 0.5rem;
  }

  .page-info {
    position: absolute;
    top: 9rem;
    font-weight: $fontweight-600;
  }

  .btn-container {
    width: 100vw;
  }
}

.snack-background {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}