.page {
  max-width: 680px;

  .page-info {
    position: absolute;
    top: 9rem;
    font-weight: $fontweight-600;
  }
}

.snack-background {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}