@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  font-family: $fontfamily-default;
  font-weight: $fontweight-400;
  line-height: $lineheight-normal;
  color: $color-black;
}

p, span, select, input {
  font-weight: $fontweight-400;
  font-size: $fontsize-default;
	line-height: $lineheight-normal;
}

h2 {
  font-weight: $fontweight-600;
  font-size: $fontsize-default;
  color: $color-primary;
}

strong {
  color: $color-primary;
}